<div class="hero min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <div class="flex items-start justify-center">
        <img src="restaurant.jpg" alt="Restaurant Clipart" class="rounded-full w-32 h-32 mb-4">
      </div>
      <h1 class="text-5xl font-bold">Nick's Food Reviews</h1>
      <p class="py-6">Hello! My name is Nick, and I like to write mini-reviews about food that I get from restaurants.</p>
      <p>I usually like to try new (to me!) local restaurants and share recommendations with my friends.</p>
    </div>
  </div>
</div>
